:root{
    --dark-purple: rgb(70, 67, 99);
    --light-purple: rgb(127, 113, 192);
    --dark-grey: rgb(110, 110, 110);
    --light-grey: rgb(233, 233, 233);
    --green: #70c66b;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}
.main-header{
    grid-area: 1 / 1;
    display: flex;
    flex-direction: row;
}
h1{
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
}
h2{
    font-size: 24px;
    font-weight: 300;
    flex: 1;
    margin-right: 10px;
}
h3{
    padding: 7px;
    margin-left:3px;
    margin-bottom: -.5em;
    font-size: 15px;
    font-weight: 400;
}
canvas{
    padding: 10px;
}
.alert-banner{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    padding-left: .5em;
    padding-right: .5em;
}
.alert{
    background-color: var(--light-purple);
    color: white;
    border-radius: 10px;
    margin: 20px 10px -5px 10px;
    padding: 2px 10px;
}
.main-header-search{
    background-color: var(--light-grey);
    border-left: 2px solid rgb(221, 221, 221) ;
    border-bottom: 2px solid rgb(221, 221, 221) ;
    flex: 2;
}
body{
    width: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header""navigation" "main";
}
.header{
    grid-area: header;
    background-color:var(--light-purple);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.notifications{
    padding: 0px 20px;
    border-right: 1px solid rgb(158, 155, 155);
    height: 40px;
}
@keyframes bell-ring{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(25deg);
    }
    66%{
        transform: rotate(-45deg);
    }
}
.bell-icon{
    fill: white;
    width: 20px;
    margin-top: .9em;
}
.bell-icon:hover{
    animation: bell-ring .5s ease-in-out;
}
.bell-dot{
    border-radius: 50%;
    background-color: rgb(121, 211, 79);
    height: 5px;
    width: 5px;
    position: relative;
    top: -30px;
    left: 15px;
}
.active-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.student-name{
    font-size: 13px;
    width: 8em;
    padding-left: .5em;

}
.navigation {
    grid-area: navigation;
    background-color: var(--dark-purple);
    display: flex;
    justify-content: space-evenly;
}
.navigation a{
    display: flex;
    justify-content: center;
}
.icon{
    width: 65%;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 0 10px;
    fill: white;
}
.ihome {
    margin-left: 2em;
}
.itraffic {
    margin-left: .5em;
}
.imembers {
    margin-right: .5em;
}
.isettings {
    margin-right: 2em;
}

.headline{
    margin-left: 10px;
    font-size: 20px ;
}
.main {
    grid-area: main;
    display: grid;
}
section{
    border-bottom: 1px solid rgb(194, 194, 194);
}
/* ===== Traffic ===== */

.traffic-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.traffic-nav{
    display: flex;
    padding-left: 0px;
    align-items: center;
}
.traffic-nav-link{
    padding: 0 15px;
    font-weight: 300;
    list-style: none;

}
.active{
    color: white;
    background-color: var(--green);
    padding: 10px;
    border-radius: 20px;
}
#mobile-chart{
    padding: 3em;
    margin-bottom: -3em;
    margin-top: -3em;
}
/* ===== Social Block ===== */
.arrow{
    display: none;
}
.social{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    background-color: var(--light-grey);
    border: 1.9px solid;
    border-color: rgb(202, 202, 202);
    border-radius: 5px;
}
.social-text{
    text-align: left;
    margin: 5px;
}
.social-text p{
    margin: 5px 20px;
}
.social-text p:first-child{
    color: var(--light-purple);
    font-weight: 500;
}
.social-text p:last-child{
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 30px;
}
.social-image{
    height: 60px;
    width: 60px;
    background-color: var(--light-purple);
    fill: white;
    border-radius: 50%;
    border: 7px solid var(--light-purple);
}
.form-area, .form-field {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}
.form-area{
    height: 150px;
}
.form-field{
    height: 30px;
    border-radius: 2px;
}
/* ===== Member block ===== */
.members-container {
    max-height: 160px;
}
.members-container, .member-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
    width: 95%;
    margin: auto;
}
.members-container:last-child, .member-activity:last-child{
    border-bottom: none;
}
.members-container a{
    text-decoration: none;
    color: var(--light-purple);
}
.members-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members-text p{
    margin: 0;
    font-weight: 300;
    text-align: center;
}
.message, .settings, .widget-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.profile-image, .profile-image-active{
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-image-active{
    height: 40px;
    width: 40px;
    margin-bottom: 0;
}
.profile-image {
    max-width: 70px;
}
.post-date {
    margin-top: 0;
}

/* ===== Form Fields ===== */

.form-area{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 300;
    height: 150px;
    border: solid 1px rgb(202, 202, 202);
}
.form-field{
    height: 40px;
    margin-bottom: 10px;
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 5px;
    font-weight: 300;
    border: solid 1px rgb(202, 202, 202);
}
.form-fieldone{
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 300;
    padding-left: .6em;
    border: solid 1px rgb(202, 202, 202);
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.button-primary, 
.button-disabled,
.sendbttn
{
    background-color:var(--light-purple);
    color:white;
    border-radius: 5px;
    border: 1px var(--light-grey) solid;
    text-transform: uppercase;
    height: 40px;
}
.button-disabled{
    background-color:rgb(141, 141, 141);
    margin-right: .5em;
    width: 8.5em;
}
.button-primary{
    margin-left: .5em; 
    width: 8.5em;
}
.button-primary:hover, .button-disabled:hover{
    cursor:pointer;
}
/*====== Settings ======*/

.settings-button{
    display: flex;
    justify-content: space-between;
}
.toggle-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px;
    justify-content: space-around;
}
label strong{
    flex-basis: 209px;
}
.switch-light{
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
}
.toggle-switch{
    max-width: 80px;
    cursor: pointer;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}
.send {
    padding-left: 5px;
}

/* ========= Media Queries ========= */

@media screen and (min-width: 768px) {
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header" "navigation main";
    }
    h1{
        font-size: 2em;
        margin-left: 20px;
    }
    .bell-icon{
        width: 20px;
    }
    .bell-dot{
        top: -30px;
        left: 20px;
    }
    .header{
        display: flex;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main-header-search{
        flex: 6;
    }
    .icon{
        height: 100%;
        width: auto;
        margin: auto;
        padding-top: 30px;
    }
    .traffic-header{
        flex-direction: row;
    }
    .daily{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        border-right: solid 1px rgb(194, 194, 194);
    }
    .recent-activity, .main-header, .alert{
        grid-column: 1 / span 2;
    }
    .social{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .social h3{
        width: 100%;
    }
    .social-container{
        width: 30%;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
    }
    .daily {
        grid-column: 1 / span 1;
        grid-row-start: 4;
    }
    .members-text p{
        text-align: left;
    }
    .members, .message{
        grid-column: 1 / span 2;
    }
    .mobile {
        grid-column: 2 / span 1;
        grid-row-start: 4; 
    }
    .activity, .settings{
        grid-column-start: 1;
        grid-column-end: span 2;
    }
      .main{
        grid-template-columns: 50%;
        grid-template-areas: 
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members members"
        "message message"
        "settings settings"
    }
    .daily, .mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #daily-chart {
        margin-bottom: 3em;
    }
    .arrow{
        display: block;
        color: var(--light-purple);
        font-size: 2em;
        font-weight: lighter;
        margin-left: auto;
    }
    .post-date{
        margin-left: auto;
    }
    .members-container, .member-activity {
        flex-direction: row;
        align-items: center;
        width: 96%;
    }
    .members-text{
        margin-left: 10px;
        display: block;
    }
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half{
        width: 45vw;
    }
    .toggle-switch{
        margin-left: -30em;
    }
    .button-disabled{
        width: 20.5em;
    }
    .button-primary{
        width: 20.5em;
    }
}
@media screen and (min-width: 1024px){
    .members, .message {
        grid-column: 1 / span 1;
        border-right: 1px solid lightgray;
    }
    .recent-activity, .settings {
        grid-column: 2;
        width: 30em;
    }
    #traffic-chart {
        padding-right: 0;
    }
    .social-container {
        margin-bottom: 2em;
    }
    .members-container {
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 8.3px;
    }
    .member-activity {
        margin-bottom: 1.2em;
        padding-top: 0;
        padding-bottom: 0;
    }
    .newm{
        margin-bottom: .5em;
    }
    .recentact{
        margin-bottom: -5px;
    }
    .toggle-switch {
        margin-left: -13em;
    }
    .st {
        margin-bottom: .6em;
        margin-top: 0;
    }
    .button-primary{
        width: 13em;
    }
    .button-disabled{
        width: 13em;
    }
}